In [8]:
#Slicing the list
x = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(x[0:4])

['a', 'b', 'c', 'd']

In [9]:
x = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(x[4:10])

['e', 'f', 'g', 'h', 'i', 'j']

In [14]:
#range
for i in range(1,101):
   print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [28]:
#printing even numbers
for i in range(0,51,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [21]:
numbers = list(range(1,51))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [35]:
#duplicating a list
x = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
y = x[:]
print(y)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [10]:
#Printing alternate student names
students = ['Anjana', 'Bharathi', 'Sanam', 'Dev', 'Pranya', 'Saanvi', 'Veda', 'Adhya', 'Priyanka', 'Jasmine']
print(students[0:11:2])

['Anjana', 'Sanam', 'Pranya', 'Veda', 'Priyanka']

In [32]:
string = 'kasyap'
print(string[2:5])

sya

In [31]:
List = ['kk','aa','ss','yy','aa','pp']
print(List[1:4])

['aa', 'ss', 'yy']